
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-sm-6 col-md-4 index_right pull-right">
                <div class="bg-primary index_align mont font13">
                    <ul class="breadcrumb">
                        <li>
                            <a href="index.html" class="index_modify">Home</a>
                        </li>
                        <li>
                            <img src="/assets/images/right-arrow1.png" alt="arrow" class="blog_right_arrow">
                        </li>
                        <li>
                            <span class="active">About Us</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class=" col-xs-12 col-sm-6 mem-form">
                <h3 class="head_modified"><span class="heading_bottom">ABOUT US</span></h3>
                <div class="section_align">
                    <div class="swiper-container aboutus_swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="/assets/images/about3.jpg" alt="swiper-image" class="img-responsive">
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/aboutus2.jpg" alt="swiper-image" class="img-responsive">
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/aboutus3.jpg" alt="swiper-image" class="img-responsive">
                            </div>
                        </div>
                        <div class="swiper-pagination about_swiper"></div>
                    </div>
                </div>
                <p class="text-justify footer_align">
                    Bowling Club is a boutique bowling alley that departs from tradition by serving award-wining food and extraordinary speciality cocktails, along with a rotating craft beer and wine list.
                <p class="text-justify footer_align">
                    Our six regulation bowling lanes offer automatic scoring and leather sofas for you to relax in between rolls.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 mem-form">
                <h3 class="head_modified"><span class="heading_bottom">MAP LOCATION</span></h3>
                <div id="test" class="section_align">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 blog_txt wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                <h3 class="head_modified about_table"><span class="heading_bottom">CONTACT DETAILS</span></h3>
                <div class="about_table">
                    <table class="table table_unbordered footer_align">
                        <tr>
                            <td class="text-primary">
                                General Information
                            </td>
                            <td>
                                info@federataeboullingut.com
                            </td>
                        </tr>
                        <tr>
                            <td class="text-primary">
                                Media / Marketing / Press
                            </td>
                            <td>
                                info@federataeboullingut.com
                            </td>
                        </tr>
                        <tr>
                            <td class="text-primary">
                                Special Events
                            </td>
                            <td>
                                info@federataeboullingut.com<br> OR, fill <span class="text-primary">Special Events Form</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-primary">
                                Phone
                            </td>
                            <td>
                                045-387-773
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class=" col-xs-12 col-sm-6 blog_txt wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                <h3 class="head_modified"><span class="heading_bottom">WORKING HOURS</span></h3>
                <div class="about_table">
                    <table class="table table_unbordered footer_align">
                        <tr>
                            <td class="text-primary">
                                Monday-Wednesday
                            </td>
                            <td>
                                9:00 am - 16:00 pm
                            </td>
                        </tr>
                        <tr>
                            <td class="text-primary">
                                Thursday
                            </td>
                            <td>
                                9:00 am - 16:00 pm
                            </td>
                        </tr>
                        <tr>
                            <td class="text-primary">
                                Friday
                            </td>
                            <td>
                                9:00 am - 16:00 pm
                            </td>
                        </tr>
                        <tr>
                            <td class="text-primary">
                                Saturday
                            </td>
                            <td>
                                9:00 am - 16:00 pm
                            </td>
                        </tr>
                        <tr>
                            <td class="text-primary">
                                Sunday
                            </td>
                            <td>
                                9:00 am - 16:00 pm
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faq_bg membership_content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center membership_plan"><span class="heading_bottom">OUR FAQ</span></h3>
                <p class="text-center">Frequently Asked Questions</p>


                <div class="panel-group element_color_section" id="accordion">
                    <div class="panel panel3 panel-default panel-border-color">
                        <div class="faq_bg_panel panel-heading panel_heading">
                            <h5 class="panel-title text-info">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    What Are Your Family Bowl Hours?<span class="button_top fa-stack pull-right">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-angle-down fa-stack-1x text-white"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse1" class="faq_bg panel-collapse collapse">
                            <div class="panel-body panel_heading">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.
                            </div>
                        </div>
                    </div><br> <br />
                    <div class="panel panel3 panel-default panel-border-color">
                        <div class="faq_bg_panel panel-heading panel_heading">
                            <h5 class="panel-title">
                                <a class="toggle_color" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    Can We Eat OR Drink At The Lanes?<span class="button_top fa-stack pull-right">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-angle-down fa-stack-1x text-white"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse2" class="faq_bg panel-collapse collapse">
                            <div class="panel-body panel_heading">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.
                            </div>
                        </div>
                    </div><br><br />
                    <div class="panel panel3 panel-default panel-border-color">
                        <div class="faq_bg_panel panel-heading panel_heading">
                            <h5 class="panel-title">
                                <a class="toggle_color" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    Can Extra People Hangout, At Lanes?<span class="button_top fa-stack pull-right">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-angle-down fa-stack-1x text-white"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse3" class="faq_bg panel-collapse collapse">
                            <div class="panel-body panel_heading">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequats.
                            </div>
                        </div>

                    </div><br> <br />
                    <div class="panel panel3 panel-default panel-border-color">
                        <div class="faq_bg_panel panel-heading panel_heading">
                            <h5 class="panel-title">
                                <a class="toggle_color" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                    What Are the Hours of Outdoor Ratio?<span class="button_top fa-stack pull-right">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-angle-down fa-stack-1x text-white"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse4" class="faq_bg panel-collapse collapse">
                            <div class="panel-body panel_heading">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.
                            </div>
                        </div>
                    </div><br><br />
                </div>
            </div>
        </div>
    </div>
</section>
