
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-4 index_right pull-right">
                <div class="bg-primary index_align mont font13">
                    <ul class="breadcrumb">
                        <li>
                            <a href="index.html" class="index_modify">Home</a>
                        </li>
                        <li>
                            <img src="/assets/images/right-arrow1.png" alt="arrow" class="blog_right_arrow">
                        </li>
                        <li>
                            <span class="active">Contact Us</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mem-form">
                <div class="row">
                    <div class="col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                        <h3 class="head_modified"><span class="heading_bottom">WORKING HOURS</span></h3>
                        <div class="about_table">
                            <table class="table table_unbordered footer_align">
                                <tr>
                                    <td class="text-primary">
                                        Monday-Wednesday
                                    </td>
                                    <td>
                                        9:00 am - 16:00 pm
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-primary">
                                        Thursday
                                    </td>
                                    <td>
                                        9:00 am - 16:00 pm
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-primary">
                                        Friday
                                    </td>
                                    <td>
                                        9:00 am - 16:00 pm
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-primary">
                                        Saturday
                                    </td>
                                    <td>
                                        9:00 am - 16:00 pm
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-primary">
                                        Sunday
                                    </td>
                                    <td>
                                        9:00 am - 16:00 pm
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="head_modified"><span class="heading_bottom">LEAVE A MESSAGE</span></h3>
                    </div>
                </div>
                <div class="row section_align">
                    <form class="form-group" action="https://demo.lorvent.com/bowling/contact.php" method="post" role="form">
                        <div class="col-md-6 blog_txt ">
                            <input type="text" class="input_color mont" id="contact_name" name="name"
                                   placeholder="Name">
                        </div>
                        <div class="col-md-6 blog_txt">
                            <input type="text" class="input_color input_email mont" id="contact_email" name="email"
                                   placeholder="Email Address">
                        </div>
                        <div class="col-md-12 footer_logo_margin">
                            <textarea cols="30" rows="4" placeholder="Comment" class="input_color blog_txtarea mont"
                                      id="contact_comment" name="message"></textarea>
                        </div>
                        <div class="col-md-12 ">
                            <a href="#" class="btn btn-default btn-md btn_medium btn_info_hover btn_bottom mont">
                                Submit
                                Message
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 mem-form">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="head_modified"><span class="heading_bottom">MAP LOCATION</span></h3>
                        <div id="test1" class="section_align">
                        </div>
                    </div>
                    <div class="col-xs-12 footer_align wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="head_modified"><span class="heading_bottom">CONTACT DETAILS</span></h3>
                        <div class="about_table">
                            <table class="table table_unbordered footer_align">
                                <tr>
                                    <td class="text-primary">
                                        General Information
                                    </td>
                                    <td>
                                        info@bowlingclub.com
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-primary">
                                        Media / Marketing / Press
                                    </td>
                                    <td>
                                        sales@bowlingclub.com
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-primary">
                                        Special Events
                                    </td>
                                    <td>
                                        events@bowlingclub.com<br>
                                        OR, fill <span class="text-primary">Special Events Form</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-primary">
                                        Phone
                                    </td>
                                    <td>
                                        555 - 345 6789
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
