@{
    ViewData["Title"] = "Home Page";
}
<div class="tp-banner-container rev_slider_wrapper fullwidthbanner-container"
     data-alias="news-hero72">
    <div class="tp-banner-slider">
        <ul>
            <li data-index="rs-80" data-transition="fade" data-slotamount="7" data-masterspeed="500"
                data-saveperformance="on"
                data-title="Intro Slide">
                <img src="images/dummy.png" alt="slidebg1" data-lazyload="/assets/images/thumbnails/home_bowl.png"
                     data-bgposition="center top" data-bgfit="cover"
                     data-bgrepeat="no-repeat">
                <div class="revolution_heading_font tp-caption grey_heavy_72 skewfromrightshort tp-resizeme rs-parallaxlevel-2" data-x="0"
                     data-y="200" data-speed="700" data-start="10" data-easing="Power3.easeInOut" data-splitin="chars"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #FFFFFF;font-size:30pt;font-family: Montserrat">
                    Get Some Fun
                </div>
                <div class="revolution_font tp-caption grey_heavy_72 skewfromrightshort tp-resizeme rs-parallaxlevel-2" data-x="5"
                     data-y="300" data-speed="300" data-start="600" data-easing="Power3.easeInOut" data-splitin="words"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #ffffff;font-weight: 300;font-size:18pt; line-height: 30pt; margin-left:8px">
                    A stones throw away from famous Coogee Beach,
                </div>
                <div class="revolution_font tp-caption grey_heavy_72 skewfromrightshort tp-resizeme rs-parallaxlevel-2" data-x="5"
                     data-y="370" data-speed="300" data-start="1800" data-easing="Power3.easeInOut" data-splitin="words"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #ffffff;font-weight: 300;font-size:18pt; margin-left:8px">
                    perfect place to spend time with family & friends.
                </div>


            </li>
            <li data-index="rs-81" data-transition="fade" data-slotamount="7" data-masterspeed="500"
                data-saveperformance="on"
                data-title="Intro Slide">
                <img src="images/dummy.png" alt="slidebg1" data-lazyload="/assets/images/thumbnails/home_image.png"
                     data-bgposition="center top" data-bgfit="cover"
                     data-bgrepeat="no-repeat">
                <div class="revolution_heading_font tp-caption grey_heavy_72 skewfromrightshort tp-resizeme rs-parallaxlevel-2" data-x="0"
                     data-y="170" data-speed="700" data-start="10" data-easing="Power3.easeInOut" data-splitin="chars"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #FFFFFF;font-size:30pt;font-family: Montserrat;">
                    Game that makes you crazy
                </div>

                <div class="revolution_font tp-caption grey_heavy_72 skewfromrightshort tp-resizeme rs-parallaxlevel-2" data-x="5"
                     data-y="270" data-speed="300" data-start="410" data-easing="Power3.easeInOut" data-splitin="words"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #ffffff;font-weight: 300;font-size:18pt; line-height: 30pt; margin-left:8px">
                    We offer huge discounts who come to have fun
                </div>
                <div class="revolution_font tp-caption grey_heavy_72 skewfromrightshort tp-resizeme rs-parallaxlevel-2" data-x="5"
                     data-y="340" data-speed="300" data-start="1800" data-easing="Power3.easeInOut" data-splitin="words"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #ffffff;font-weight: 300;font-size:18pt; margin-left:8px">
                    A chance to earn points in referal scheme.
                </div>

            </li>
            <li data-index="rs-82" data-transition="fade" data-slotamount="7" data-masterspeed="500"
                data-saveperformance="on"
                data-title="Intro Slide" class="home2_why">
                <img src="images/dummy.png" alt="slidebg1" data-lazyload="/assets/images/thumbnails/home_bowl1.png"
                     data-bgposition="center top" data-bgfit="cover"
                     data-bgrepeat="no-repeat">

                <div class="revolution_heading_font1 tp-caption grey_heavy_72 skewfromrightshort tp-resizeme rs-parallaxlevel-2" data-x="0"
                     data-y="170" data-speed="700" data-start="10" data-easing="Power3.easeInOut" data-splitin="chars"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #FFFFFF;font-size:30pt; font-family: Montserrat">
                    WHY PEOPLE COME TO HAVE FUN WITH US?
                </div>
                <div class="revolution_font tp-caption grey_heavy_72 skewfromrightshort tp-resizeme rs-parallaxlevel-2" data-x="5"
                     data-y="300" data-speed="300" data-start="600" data-easing="Power3.easeInOut" data-splitin="lines"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #ffffff;font-weight: 300;font-size:18pt; line-height: 30pt; margin-left:8px">
                    1. &nbsp;Lavishing Fun and Entertaintment Hub.
                </div>
                <div class="revolution_font tp-caption grey_heavy_72 skewfromrightshort tp-resizeme rs-parallaxlevel-2" data-x="5"
                     data-y="355" data-speed="300" data-start="1800" data-easing="Power3.easeInOut" data-splitin="lines"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #ffffff;font-weight: 300;font-size:18pt; line-height: 30pt; margin-left:8px">
                    2. &nbsp;Keeping your taste in mind, we provide the best.
                </div>
                <div class="revolution_font tp-caption grey_heavy_72 skewfromrightshort tp-resizeme rs-parallaxlevel-2" data-x="5"
                     data-y="417" data-speed="300" data-start="2500" data-easing="Power3.easeInOut" data-splitin="lines"
                     data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                     style="z-index: 5; max-width: inherit; max-height: inherit; white-space: nowrap;color: #ffffff;font-weight: 300;font-size:18pt; margin-left:8px">
                    3. &nbsp;We just never let a gamer to wait in a queue.
                </div>
            </li>
        </ul>
    </div>
</div>
@*<div class="container mem-form">
    <div class="row">
        <div class="col-md-12 col-xs-12 text-center">
            <h3><span class="heading_bottom mont">JOIN US TODAY</span></h3>
            <p>The membership plan runs from January to December</p>
        </div>
    </div>
    <div class="row mem-form">
        <div class="col-md-3 col-sm-6  text-center">
            <div>
                <span class="membership_align text-primary">$180</span> <span class="badge membership_year font13">yearly</span>
            </div>
            <h5>REGULAR MEMBER</h5>
            <p class="membership_content">
                Enjoy the full rights and privileges of the club... Thats's right, just $15
                per month!
            </p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <div>
                <span class="membership_align text-primary">$120</span> <span class="badge membership_year font13">yearly</span>
            </div>
            <h5>ASSOCIATE MEMBER</h5>
            <p class="membership_content">Someone who is the member of another recognised lawn bowling club.</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <div>
                <span class="membership_align text-primary">$20</span> <span class="badge membership_year font13">yearly</span>
            </div>
            <h5>TEMPORARY MEMBER</h5>
            <p class="membership_content">
                A person who joins the club on temporary basis; no more than 4 months in a
                year.
            </p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <div>
                <span class="membership_align text-primary">$90</span> <span class="badge membership_year font13">yearly</span>
            </div>
            <h5>YOUTH MEMBER</h5>
            <p class="membership_content">
                A person who is at least 12 (unless participating in a club sanctioned with
                youth program).
            </p>
        </div>
    </div>
    <div class="row blog_txt">
        <div class="text-center">
            <a href="membership.html" class="btn btn-default btn-md btn_medium btn_info_hover btn_bottom mont">
                Subscribe
                Now
            </a>
        </div>
    </div>
</div>*@
<section class="equal-height membership_plan">
    <div class="container-fluid  home_backgroundcolor">
        <div class="row">
            <div class="column col-md-6 home_backgroundcolor">
                <div class="row">
                    <div class="col-md-push-1 col-md-11 text-justify home_rules">
                        <h3 class="mont blog_profile">Çfar duhet të dini?</h3>
                        <div class="blog_comments">
                            <p>
                                <img src="/assets/images/thumbnails/check.png" alt="check" class="home_check"> Federata e Boullingut e Kosovës u themelua ne vitin 2013.
                            </p>
                            <p>
                                <img src="/assets/images/thumbnails/check.png" alt="check" class="home_check"> Federata e Boullingut u mpranua nga federata Botrore dhe Europeane ne Dhjetor 2015.
                            </p>
                            <p>
                                <img src="/assets/images/thumbnails/check.png" alt="check" class="home_check"> Në prill te 2016 u licensua nga Ministria e Kultures Rinis dhe Sportit.
                            </p>
                            <p>
                                <img src="/assets/images/thumbnails/check.png" alt="check" class="home_check"> Federata e boullingut e kosoves ka aktivitetet vendore dhe nderkombetare mbi 40 aktivitete vjetore..
                            </p>
                            <p>
                                <img src="/assets/images/thumbnails/check.png" alt="check" class="home_check"> Po ashtu nga ky vit federata e boullingut ka nenshkru memorandum me Federaten e Sporteve Univerzitare ku dhe do filloj ligen Univerzitare.
                            </p>
                        </div>
                        <a asp-controller="Home" asp-action="About" class="btn btn-default btn-md btn_medium btn_info_hover btn_bottom mont">
                            Read more
                        </a>
                    </div>
                </div>
                <div class="row home_reservation bg-primary">
                    <div class="col-md-push-1 col-md-11 text-justify home_reservation_in">
                        <h1 class="home_contact">
                            <i class="fa fa-phone index_modify" aria-hidden="true"><span class="text-white mont"> Contact: 045-387-773</span></i>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 home_pic">
                <img src="/assets/images/thumbnails/home.jpg" alt="image" class="img-responsive home_aling column">
            </div>
        </div>
    </div>
</section>
@*<div class="container mem-form">
    <div class="row">
        <div class="col-md-12 col-xs-12 text-center">
            <h3>
                <span class="heading_bottom mont">
                    HOURS & PRICES
                </span>
            </h3>
            Our working hours and price list
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 text-center blog_profile">
            <h4><span class="heading_bottom">Monday - Thursday</span></h4>
            <div class="blog_profile wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.3s">
                <h3 class="text-primary mont">12 am - 5 pm</h3>
                <p>$4.00 game/person</p>
                <p>$4.00 Shoe Rental</p>
            </div>
            <div class="blog_profile wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                <h3 class="text-primary mont">5 pm - 9 pm</h3>
                <p>$7.00 game/person</p>
                <p>$5.00 Shoe Rental</p>
            </div>
            <div class="blog_profile wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.7s">
                <h3 class="text-primary mont">9 pm - Midnight</h3>
                <p>$10.00 game/person</p>
                <p>$6.00 Shoe Rental</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 text-center blog_profile">
            <h4><span class="heading_bottom">Friday</span></h4>
            <div class="blog_profile wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.3s">
                <h3 class="text-primary mont">12 am - 8 am</h3>
                <p>$4.00 game/person</p>
                <p>$4.00 Shoe Rental</p>
            </div>
            <div class="blog_profile wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                <h3 class="text-primary mont">5 pm - 9 pm</h3>
                <p>$4.00 game/person</p>
                <p>$4.00 Shoe Rental</p>
            </div>
            <div class="blog_profile wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.7s">
                <h3 class="text-primary mont">9 pm - Midnight</h3>
                <p>$4.00 game/person</p>
                <p>$4.00 Shoe Rental</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 text-center blog_profile">
            <h4><span class="heading_bottom">Saturday</span></h4>
            <div class="blog_profile wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.3s">
                <h3 class="text-primary mont">2 pm - 6 pm</h3>
                <p>$4.00 game/person</p>
                <p>$4.00 Shoe Rental</p>
            </div>
            <div class="blog_profile wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                <h3 class="text-primary mont">5 pm - 6 pm</h3>
                <p>$4.00 game/person</p>
                <p>$4.00 Shoe Rental</p>
            </div>
            <div class="blog_profile wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.7s">
                <h3 class="text-primary mont">2 am - 9 pm</h3>
                <p>$4.00 game/person</p>
                <p>$4.00 Shoe Rental</p>
            </div>
        </div>
    </div>
    <div class="row blog_txt">
        <div class="col-md-12 col-xs-12 text-center">
            <a href="contact_us.html" class="btn btn-default btn-md btn_medium btn_info_hover btn_bottom mont">
                Contact
                Us
            </a>
        </div>
    </div>
</div>*@
<section class="bg-primary blog_profile">
    <div class="container">
        <div class="row footer_align blogposts_align">
            <div class="col-md-6 col-xs-12 footer_logo_margin">
                <div class="home_inputtext">
                    <h3>
                        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
                        <span class="mont">
                            SIGN UP TO OUR NEWSLETTER FOR BEST OFFERS
                        </span>
                    </h3>
                </div>
            </div>
            <div class="col-md-6">
                <form method="post" action="https://demo.lorvent.com/bowling/subscribe.php" id="subscribe">
                    <input class="home_email home_emailshadow home_input_margin" name="email" placeholder="Email Address" type="email" id="email">
                    <button class="btn_default_hover mont home_subscribe_btn home_input_margin" type="submit">
                        <span class="sub">Subscribe</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 home_gallery">
            <div class="swiper-container home_swiper home_swiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide home_slide1">
                        <img src="/assets/images/thumbnails/homeimg1.jpg" class="img-responsive" alt="Image missing">
                        <div class="homegallery_hover bg-primary">
                            <a href="/assets/images/thumbnails/homeimg1.jpg" data-lightbox="image10">
                                <span class="mont homeswiper_content text-white">
                                    <i class="fa fa-search-plus"
                                       aria-hidden="true"></i> ZOOM IN
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide home_slide1">
                        <img src="/assets/images/thumbnails/homeimg2.jpg" class="img-responsive" alt="Image missing">
                        <div class="homegallery_hover bg-primary">
                            <a href="/assets/images/thumbnails/homeimg2.jpg" data-lightbox="image11">
                                <span class="mont homeswiper_content text-white">
                                    <i class="fa fa-search-plus"
                                       aria-hidden="true"></i> ZOOM IN
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide home_slide1">
                        <img src="/assets/images/thumbnails/homeimg3.jpg" class="img-responsive" alt="Image missing">
                        <div class="homegallery_hover bg-primary">
                            <a href="/assets/images/thumbnails/homeimg3.jpg" data-lightbox="image12">
                                <span class="mont homeswiper_content text-white">
                                    <i class="fa fa-search-plus"
                                       aria-hidden="true"></i> ZOOM IN
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide home_slide1">
                        <img src="/assets/images/thumbnails/homeimg4.jpg" class="img-responsive" alt="Image missing">
                        <div class="homegallery_hover bg-primary">
                            <a href="/assets/images/thumbnails/homeimg4.jpg" data-lightbox="image13">
                                <span class="mont homeswiper_content text-white">
                                    <i class="fa fa-search-plus"
                                       aria-hidden="true"></i> ZOOM IN
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide home_slide1">
                        <img src="/assets/images/thumbnails/homeimg1.jpg" class="img-responsive" alt="Image missing">
                        <div class="homegallery_hover bg-primary">
                            <a href="/assets/images/thumbnails/homeimg1.jpg" data-lightbox="image14">
                                <span class="mont homeswiper_content text-white">
                                    <i class="fa fa-search-plus"
                                       aria-hidden="true"></i> ZOOM IN
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide home_slide1">
                        <img src="/assets/images/thumbnails/homeimg2.jpg" class="img-responsive" alt="Image missing">
                        <div class="homegallery_hover bg-primary">
                            <a href="/assets/images/thumbnails/homeimg2.jpg" data-lightbox="image15">
                                <span class="mont homeswiper_content text-white">
                                    <i class="fa fa-search-plus"
                                       aria-hidden="true"></i> ZOOM IN
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide home_slide1">
                        <img src="/assets/images/thumbnails/homeimg3.jpg" class="img-responsive" alt="Image missing">
                        <div class="homegallery_hover bg-primary">
                            <a href="/assets/images/thumbnails/homeimg3.jpg" data-lightbox="image16">
                                <span class="mont homeswiper_content text-white">
                                    <i class="fa fa-search-plus"
                                       aria-hidden="true"></i> ZOOM IN
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide home_slide1">
                        <img src="/assets/images/thumbnails/homeimg4.jpg" class="img-responsive" alt="Image missing">
                        <div class="homegallery_hover bg-primary">
                            <a href="images/thumbnails/homeimg4.jpg" data-lightbox="image17">
                                <span class="mont homeswiper_content text-white">
                                    <i class="fa fa-search-plus"
                                       aria-hidden="true"></i> ZOOM IN
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide home_slide1">
                        <img src="/assets/images/thumbnails/homeimg1.jpg" class="img-responsive" alt="Image missing">
                        <div class="homegallery_hover bg-primary">
                            <a href="/assets/images/thumbnails/homeimg1.jpg" data-lightbox="image18">
                                <span class="mont homeswiper_content text-white">
                                    <i class="fa fa-search-plus"
                                       aria-hidden="true"></i> ZOOM IN
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide home_slide1">
                        <img src="/assets/images/thumbnails/homeimg2.jpg" class="img-responsive" alt="Image missing">
                        <div class="homegallery_hover bg-primary">
                            <a href="/assets/images/thumbnails/homeimg2.jpg" data-lightbox="image19">
                                <span class="mont homeswiper_content text-white">
                                    <i class="fa fa-search-plus"
                                       aria-hidden="true"></i> ZOOM IN
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev home_swiperbtn swiper-button-white home_swiper_prev"></div>
                <div class="swiper-button-next home_swiperbtn swiper-button-white home_swiper_next"></div>
            </div>
        </div>
    </div>
</div>
@*<section class="membership_plan">
    <h3 class="text-center"><span class="heading_bottom">WHAT PEOPLE SAY</span></h3>
    <p class="text-center blogposts_align">Why clients love us & come to have fun</p>
    <div class="swiper-container swiper-testimonial membership_plan">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="left_align">
                    <div class="col-md-3 col-xs-12 leftpic_align">
                        <img src="/assets/images/thumbnails/home_swiper_one.jpg" alt="Image missing"
                             class="img-responsive">
                        <h5 class="text-center image_name">
                            CAROL R. CROY
                        </h5>
                        <p class="text-primary text-center mont image_name1 wow fadeInDown" data-wow-duration="1s"
                           data-wow-delay="0.5s">- CALIFORNIA</p>
                    </div>
                    <div class="col-md-9 col-xs-12 test_content">
                        <span><i class="fa fa-quote-left fa-2x quote_icon" aria-hidden="true"></i></span>
                        <p class="club_content mont">
                            <i>
                                My daughter had a lovely birthday party and would recommend it
                                to others. We love the venue and we will be back. Everything was ready and looked super when
                                we arrived. The children had a lovely time and the venue was perfect. What I liked was about
                                the very security and safety. The food was perfect and thanks again.
                            </i>
                        </p>
                        <a href="javascript:void(0)" class="btn btn_prev test_prev_button test_revert_button">
                            <i class="fa fa-angle-left fa-2x"></i>
                        </a>&nbsp;
                        <a href="javascript:void(0)" class="btn btn_prev test_next_button">
                            <i class="fa fa-angle-right fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="left_align">
                    <div class="col-md-3 col-xs-12 leftpic_align">
                        <img src="/assets/images/thumbnails/home_swiper_two.jpg" alt="Image missing" class="img-responsive">
                        <h5 class="text-center image_name">Debroh M.Hinton</h5>
                        <p class="text-primary text-center mont image_name1">- AUSTRALIA</p>
                    </div>
                    <div class="col-md-9 col-xs-12 test_content">
                        <span><i class="fa fa-quote-left fa-2x quote_icon" aria-hidden="true"></i></span>
                        <p class="club_content mont">
                            <i>
                                The burger was clearly beyond my bowling alley expectations and
                                certainly not pre-wrapped in cellophane. Everything about this burger said fresh and high
                                quality...while the burger was great the tenderloin was impressive! The event was simply
                                outstanding and the food was excellent!. Thank You once Again!!
                            </i>
                        </p>
                        <a href="javascript:void(0)" class="btn btn_prev test_prev_button">
                            <i class="fa fa-angle-left fa-2x"></i>
                        </a>&nbsp;
                        <a href="javascript:void(0)" class="btn btn_prev test_next_button">
                            <i class="fa fa-angle-right fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="left_align">
                    <div class="col-md-3 col-xs-12 leftpic_align">
                        <img src="/assets/images/thumbnails/home_swiper_three.jpg" alt="Image missing" class="img-responsive">
                        <h5 class="text-center image_name">JARED & ANNA</h5>
                        <p class="text-primary text-center mont image_name1">- NEW YORK</p>
                    </div>
                    <div class="col-md-9 col-xs-12 test_content">
                        <span><i class="fa fa-quote-left fa-2x quote_icon" aria-hidden="true"></i></span>
                        <p class="club_content mont">
                            <i>
                                I would like to let you know about our great experience at Bowling. We had our party
                                yesterday and i wanted to say a big thank you. It was a massive success, Thanks to your
                                team!! Everyone had a lovely time!! The staff was accomodating, super friendly and very
                                professional.Thanks again for making it a great day!
                            </i>
                        </p>
                        <a href="javascript:void(0)" class="btn btn_prev test_prev_button">
                            <i class="fa fa-angle-left fa-2x"></i>
                        </a>&nbsp;
                        <a href="javascript:void(0)" class="btn btn_prev test_next_button">
                            <i class="fa fa-angle-right fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="left_align">
                    <div class="col-md-3 col-xs-12 leftpic_align">
                        <img src="/assets/images/thumbnails/home_swiper_four.jpg" alt="Image missing" class="img-responsive">
                        <h5 class="text-center image_name">A,K,J,M & H</h5>
                        <p class="text-primary text-center mont image_name1">- GEORGIA</p>
                    </div>
                    <div class="col-md-9 col-xs-12 test_content">
                        <span><i class="fa fa-quote-left fa-2x quote_icon" aria-hidden="true"></i></span>
                        <p class="club_content mont">
                            <i>
                                Thank you for your recent courtesy call to check all was well
                                with our evening. We had a fantastic time and I would like to thank your staff as they were
                                absolutely brilliant, attentive and polite. I will not hesitate booking again with you when
                                another special event arises! I highly recommend this bowling club.
                            </i>
                        </p>
                        <a href="#" class="btn btn_prev test_prev_button"><i class="fa fa-angle-left fa-2x"></i></a>&nbsp;
                        <a href="#" class="btn btn_prev test_next_button test_forward_button">
                            <i class="fa fa-angle-right fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 insta_align">
            <!--<div id="bowling"></div>-->
            <ul class="shots1 insta_align iso_extra text-center"></ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 text-center blogposts_align mem-form">
            <h3><span class="heading_bottom">LATEST BOWLING NEWS</span></h3>
            <span>What's going on at Bowling</span>
        </div>
    </div>
    <div class="row blog_txt">
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="home_news">
                        <img src="/assets/images/thumbnails/homenews.png" class="img-responsive" alt="Image missing">
                        <div class="home_text">
                            <a href="blog.html">
                                <h3 class="news_head home_head text-white wow fadeIn" data-wow-delay="0.3s">
                                    Port Macquarie
                                    Mixed Pairs - Final Day
                                </h3>
                            </a>
                            <span class="news_head text-white news_info home_info wow fadeIn" data-wow-delay="0.3s">26th June, 2016</span>
                            <a href="blog.html"
                               class="news_head home_btn btn btn-primary btn-sm btn_small btn_primary_hover">
                                <span class="mont">Read Article</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="home_news">
                        <img src="/assets/images/thumbnails/blogswiper.png" class="img-responsive" alt="Image missing">
                        <div class="home_text home_text1">
                            <a href="blog.html">
                                <h3 class="news_head home_head text-white home_head1 wow fadeIn" data-wow-delay="0.3s">
                                    Food:
                                    Best Burgers In U.S
                                </h3>
                            </a>
                            <span class="news_head text-white news_info home_info home_info1 wow fadeIn"
                                  data-wow-delay="0.5s">25th June, 2016</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="home_news home_news2">
                                <img src="/assets/images/thumbnails/blogswiper1.png" class="img-responsive homenews_image"
                                     alt="Image missing">
                                <div class="home_text home_text1 home_text2">
                                    <a href="blog.html">
                                        <h3 class="news_head home_head2 text-white wow fadeIn" data-wow-delay="0.3s">
                                            Top 25
                                            Event Spaces In San Francisco
                                        </h3>
                                    </a>
                                    <span class="news_head text-white news_info wow fadeIn" data-wow-delay="0.3s">25th June, 2016</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="home_news">
                        <img src="/assets/images/thumbnails/homenews1.png" class="img-responsive" alt="Image missing">
                        <div class="home_text home_text1">
                            <a href="blog.html">
                                <h3 class="news_head home_head text-white home_head1 wow fadeIn" data-wow-delay="0.3s">
                                    Australian Open News Big Coverage
                                </h3>
                            </a>
                            <span class="news_head text-white news_info home_info home_info1 wow fadeIn"
                                  data-wow-delay="0.3s">25th June, 2016</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="homecontent_hover bg-primary text-center">
                                <h3 class="text-white home_socials">SOCIALS FOLLOW</h3>
                                <span class="mont socials_info font15">@@FederataeBoullingut</span>
                                <div class="home_fonticons">
                                    <ul class="list-inline">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook-square fa-2x home_socialicons"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter-square fa-2x home_socialicons"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-flickr fa-2x home_socialicons"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <hr class="home_hrline">
                                <span>We promise good deals & promotions!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>