<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Federata e Boullingut</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Homepage</title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/wow/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="vendors/lightbox2/css/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/revolution-slider/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/revolution-slider/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/revolution-slider/css/settings.css">
    <link rel="stylesheet" href="/assets/css/sweetalert2.css">
    <link href="/assets/css/custom.css" rel="stylesheet">
    <style>
        @@media (max-width: 425px) and (min-width: 320px) {
            .revolution_heading_font
            {
                font-size: 17px !important;
            }
            .revolution_heading_font1{
                font-size: 13px !important;
            }
        }



    </style>
</head>
<body>
    <div class="preloader" style="position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:100000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #ffffff;">
        <div class="preloader-image" style=" width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-position: center;
  margin:-25px 0 0 -25px;">
            <img src="/assets/images/Preloader.gif" alt="loader-missing">
        </div>
    </div>
    <section class="header_bg">
        <div class="tp-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <a href="faq.html"><span class="text-white header_advrt hidden-xs font13 mont">Never tried bowling but would love to give it a go?</span></a>
                    </div>
                    <div class="col-md-7 col-sm-6 text-right">
                        <span class="header_advrt text-white address_align">
                            <i class="fa fa-map-marker text-white"></i>
                            <span class="hidden-sm hidden-xs font13 mont">House of Sports, Agim Ramadani, Prishtinë</span>
                        </span>
                        <span class="header_advrt text-white address_align">
                            <i class="fa fa-phone text-white header_icon"></i> <span class="hidden-sm hidden-xs font13 mont">045-387-773</span>
                        </span>
                        <span class="header_advrt">
                            <a href="#">
                                <i class="fa fa-facebook-square header_icon_align header_icon"></i>
                            </a>
                            <a href="#"><i class="fa fa-twitter-square header_icon_align header_icon_align1"></i></a>
                            <a href="#"><i class="fa fa-flickr header_icon_align header_icon_align1"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="header_hr">
        <header>
            <nav class="navbar">
                <div class="container">
                    <div class="row">
                        <div class="navbar-header col-md-3 col-sm-4 col-xs-12">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="header-title text-white"><i class="fa fa-bars" aria-hidden="true"></i></span>
                            </button>
                            <a class="navbar-brand1 mont text-white" asp-controller="Home" asp-action="Index">
                                <img src="/assets/images/logo/Logo Lige Bowlinga Kosove.png" style="width:32px;height:32px"alt="logo missing"><span class="logo_align">Federata e Boullingut</span>
                            </a>
                        </div>
                        <div class="collapse navbar-collapse col-md-8 col-sm-8 col-xs-12 smallmenu" id="myNavbar">
                            <ul class="nav navbar-nav navbar-right head_align">
                                <li class="text-white header_li">
                                    <a asp-controller="Home" asp-action="Index" class="text-white mont font13">HOME</a>

                                <li class="header_li">
                                    <a asp-controller="Home" asp-action="About" class="text-white mont font13">ABOUT</a>
                                </li>
                                <li class="dropdown dropdown_modified">
                                    <a data-toggle="dropdown" href="#"
                                       class="dropdown-toggle text-white mont font13">LOJTARET <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown_mod" data-dropdown-in="fadeInUp"
                                        data-dropdown-out="fadeOut">
                                        <li><a target="_blank" href="http://slb.federataeboullingut.com/Player/Index" class="mont font13">Meshkujt</a></li>
                                        <li><a target="_blank" href="http://slbf.federataeboullingut.com/Player/Index" class="mont font13">Femrat</a></li>
                                        <li><a target="_blank" href="http://slbj.federataeboullingut.com/Player/Index" class="mont font13">Junioret</a></li>
                                    </ul>
                                </li>
                                @*<li class="header_li">
                                    <a href="membership.html" class="text-white mont font13">MEMBERSHIP</a>
                                </li>
                                <li class="header_li">
                                    <a href="gallery.html" class="text-white mont font13">GALLERY</a>
                                </li>
                                <li class="header_li">
                                    <a href="club_rules.html" class="text-white mont font13">CLUB RULES</a>
                                </li>*@
                                <li class="dropdown dropdown_modified">
                                    <a data-toggle="dropdown" href="blog.html"
                                       class="dropdown-toggle text-white mont font13">LIGA <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown_mod" data-dropdown-in="fadeInUp"
                                        data-dropdown-out="fadeOut">
                                        <li><a target="_blank" href="http://slb.federataeboullingut.com/Round/Index" class="mont font13">Meshkujt</a></li>
                                        <li><a target="_blank" href="http://slb.federataeboullingut.com/Round/Index" class="mont font13">Femrat</a></li>
                                        <li><a target="_blank" href="http://slb.federataeboullingut.com/Round/Index" class="mont font13">Junioret</a></li>

                                    </ul>
                                </li>
                                <li class="searchicon_align header_li">
                                    <a asp-controller="Home" asp-action="Contact" class="text-white mont font13">CONTACT</a>
                                </li>
                                <li class="dropdown">
                                    <a data-toggle="dropdown" href="#"
                                       class="dropdown-toggle text-white mont font13 hidden-xs hidden-sm">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <ul class="dropdown-menu" data-dropdown-in="fadeInUp" data-dropdown-out="fadeOut">
                                        <li>
                                            <span class="search_header">
                                                <input type="text"
                                                       class="input-control-feedback input_color mont font14"
                                                       placeholder="Keyword...">
                                            </span>
                                            <span class="input-group-addon like_icon searchicon">
                                                <a href="#">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </section>
    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <section class="bg-primary membership_plan footer_background footer_section">
            <div class="container">
                <div class="row footer_align">
                    <div class="col-xs-12 col-sm-6 col-md-3 footer_para_margin">
                        <div class="navbar-brand1 footer_font_margin mont text-white">
                            <img src="/assets/images/LOGO/FBOUK_Logo.png" style="width:32px;height:32px;" alt="logo missing"><span class="logo_align">Federata e Boullingut</span>
                        </div>
                        <p class="mem-form">
                            We have six regulation size bowling lanes, outfitted with automatic scoring and ball speed
                            technology
                        </p>
                        <div class="footer_font_margin">
                            <ul class="footer_list">
                                <li class="footer_list_icons1 footer_list_location "><span class="footer_text_margin">House of Sports, Agim Ramadani, Prishtinë</span></li>
                                <li class="footer_list_icons1 footer_list_phone footer_font_margin"><span class="footer_text_margin">045-387-773</span></li>
                                <li class="footer_list_icons1 footer_list_mail footer_font_margin">
                                    <span class="footer_content_margin">info@federataeboullingut.com</span>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 footer_hours_section footer_para_margin">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="footer-hours">Opening Hours</h3>
                            </div>
                        </div>
                        <div class="row footer_align">
                            <div class="col-xs-2">
                                <span class="footer_color_variant mont">Mon</span>
                            </div>
                            <div class="col-xs-10">
                                <span class="days_margin mont">9:00 am - 16:00 pm</span>
                            </div>
                        </div>
                        <div class="row footer_hours">
                            <div class="col-xs-2">
                                <span class="footer_color_variant mont">Tue</span>
                            </div>
                            <div class="col-xs-10">
                                <span class="days_margin mont">9:00 am - 16:00 pm</span>
                            </div>
                        </div>
                        <div class="row footer_hours">
                            <div class="col-xs-2">
                                <span class="footer_color_variant mont">Wed</span>
                            </div>
                            <div class="col-xs-10">
                                <span class="days_margin mont">9:00 am - 16:00 pm</span>
                            </div>
                        </div>
                        <div class="row footer_hours">
                            <div class="col-xs-2">
                                <span class="footer_color_variant mont">Thu</span>
                            </div>
                            <div class="col-xs-10">
                                <span class="days_margin mont">9:00 am - 16:00 pm</span>
                            </div>
                        </div>
                        <div class="row footer_hours">
                            <div class="col-xs-2">
                                <span class="footer_color_variant mont">Fri</span>
                            </div>
                            <div class="col-xs-10">
                                <span class="days_margin mont">9:00 am - 16:00 pm</span>
                            </div>
                        </div>
                        <div class="row footer_hours">
                            <div class="col-xs-2">
                                <span class="footer_color_variant mont">Sat</span>
                            </div>
                            <div class="col-xs-10">
                                <span class="days_margin mont">9:00 am - 16:00 pm</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 footer_para_margin">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Latest Events</h3>
                            </div>
                        </div>
                        <ul class="footer_list">
                            <li class="footer_list_icons footer_list_icons1 footer_align">
                                <span class="mont">White Rose Blend in 2016</span>
                                <br>
                                <span class="footer_color_variant">July, Wk 20 Tues 17th</span>
                            </li>
                            <li class="footer_list_icons footer_list_icons1 footer_align">
                                <span class="mont">Walker Cup for the best</span>
                                <br>
                                <span class="footer_color_variant">July, Wk 20 Tues 17th</span>
                            </li>
                            <li class="footer_list_icons footer_list_icons1 footer_align">
                                <span class="mont">Balcomb Trophy in 2015</span>
                                <br>
                                <span class="footer_color_variant">July, Wk 5 Tues 10th</span>
                            </li>
                        </ul>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 footer_hours_section footer_para_margin">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Blog Posts</h3>
                            </div>
                        </div>
                        <ul class="footer_list">
                            <li class="footer_align footer_list_icons1 footer_list_icons">
                                <span class="mont text-white">
                                    Four Strong Teams For Hong
                                    <span>Kong Classic announced</span>
                                </span>
                                <p class="footer_color_variant footer_text_margin">
                                    26th June, 2016 &nbsp;&nbsp;<span class="comment_icon_margin">
                                        <i class="fa fa-comments-o footer_icons_hover"
                                           aria-hidden="true"></i>&nbsp;5
                                    </span>
                                </p>
                            </li>
                            <li class="footer_align footer_list_icons1 footer_list_icons">
                                <span class="mont text-white">
                                    National Championship to
                                    <span>be introduced from 2017</span>
                                </span>
                                <p class="footer_color_variant footer_text_margin">
                                    25th June, 2016 &nbsp;&nbsp;<span class="comment_icon_margin">
                                        <i class="fa fa-comments-o footer_icons_hover"
                                           aria-hidden="true"></i>&nbsp;12
                                    </span>
                                </p>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="row membership_plan">
                    <div class="col-xs-12  col-sm-3 col-lg-2 footer_icons footer_icon_align">
                        <div class="icon_allign icons_margin">
                            <a href="#">
                                <i class="fa fa-facebook-square footer_icon_dimension footer_color_variant"
                                   aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter-square footer_icon_dimension footer_color_variant"
                                   aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-flickr footer_icon_dimension footer_color_variant" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-lg-10">
                        <hr class="hr_color">
                    </div>
                </div>
                <div class="row">
                    <p class="text-center footer_color_variant element_align2">
                        designed with &nbsp;<i class="fa fa-heart-o text-white" aria-hidden="true"></i>&nbsp; by
                        <a href="https://themeforest.net/search?utf8=%E2%9C%93&amp;term=jyostna&amp;referrer=homepage"
                           class="footer_color_variant">jyostna</a>
                    </p>
                </div>
                <a href="#" class="back-to-top"><span class="mont font13">Top</span></a>
            </div>
        </section>
    </footer>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/vendors/wow/js/wow.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/lightbox2/js/lightbox.min.js"></script>
    <script src="/assets/vendors/jribbble/js/jribbble.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/assets/vendors/swiper/js/swiper.jquery.min.js"></script>
    <script src="/assets/vendors/sweetalert2/js/sweetalert2.min.js"></script>
    <script src="/assets/js/custom.js"></script>
</body>


<!-- Mirrored from demo.lorvent.com/bowling/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 18 Oct 2021 07:15:50 GMT -->

<!--<body>-->
@*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Federata e Boullingut</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
<!--<div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Federata_e_Boullingut - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>-->
</html>
